.footer-link{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
   
    justify-content: center;
    padding: 15px;
    width: 100%;
}
.footer-link p{
   font-weight: light;
}
.footer-banner{
    display: flex;
    background-color: #2E3786;
    color: #fff;
    height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.footer-banner h5{
    font-weight: lighter;
    align-items: center;
  
}
.container button{
    z-index: -100px;
}
.container{
    height: 50vh;
   
}